.App{
  box-sizing: border-box;
  width: 50%;
  margin:  0 auto;
  padding: 10px;
}

.form{
  display: flex;
}

.input_field{
  width: 90%;
  margin-right: 10px;
  font-size: 16px;
  border: 0;
  padding-top: 20px;
  border-bottom: 1px solid #4CAF50;
}

.submit_button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.element_list {
  padding-top: 5px;
}

.element_list:before{
  content:'>>';
  padding-right: 10px;
  color: #4CAF50;
}
